{% extends 'base.html' %}
{% block content %}
        <img src="{{ post.img.url }}" height="200px" width="100px">
        {{ post.description }}<br>
        {% csrf_token %}
        {% if cur_user in just_likes%}
            <button id="like_btn" data-id="like_btn" data-url="/post/{{ post.id }}/">Liked</button><span> Likes: </span><span id="likes">{{ likes }}</span>
        {% else %}
            <button id="like_btn" data-id="like_btn" data-url="/post/{{ post.id }}/">Like</button><span> Likes: </span><span id="likes">{{ likes }}</span>
        {% endif %}
        <hr>
        <form method="post">
            {% csrf_token %}
            {{ form }}

            <button type="submit">Comment</button>
        </form>
        {% for i in comments %}
            {{ i.text }}<br>
        {% endfor %}
{% endblock %}