{% extends 'base.html' %}
{% block content %}
    <style>
        .a:link {color:#ff0000;text-decoration:none;}
        .a:visited {color:#0000ff;text-decoration:none;}
        .a:hover {text-decoration:underline;}
    </style>
    <form method="GET">
            <input type="text" placeholder="Search..." name="search_user" >
            <button type="submit" class="search-btn">Search</button>
    </form>
    {% for user in users %}
        {% if request.user == user%}
           <span class="h5 a"><a class="text-dark" href="{% url 'cur_user_page' %}" style="text-decoration: none;">{{ user.username }}</a></span><br>
        {% else %}
            <span class="h5 a" ><a href="user/{{ user.id }}" style="text-decoration: none;" class="text-dark">{{ user.username }}</a></span><br>
        {% endif %}
    {% endfor %}
{% endblock %}