{% extends 'base.html' %}
{% block content %}
        {{ user.username }}
        <img src="{{ user.img.url }}" height="50px" width="50px"><br>
        Followers: <span id="followers">{{ followers }}</span><br>
        Following: <span id='following'>{{ following }}</span><br>
        {% csrf_token %}
        {% if cur_user in just_followers %}
                <button id="subscribe_btn" data-url="/user/{{ user.id }}/">Followed</button>
        {% else %}
                <button id="subscribe_btn" data-url="/user/{{ user.id }}/">Follow</button>
        {% endif %}
{% endblock %}